{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand fw-bolder" href="#">Desphixs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Students</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pages
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">About Us</a></li>
                  <li><a class="dropdown-item" href="#">Contact Us</a></li>
                  <li><a class="dropdown-item" href="#">Report</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search All Students" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    <section class="intro">
        <div class="bg-image h-100 border" style="background-color: #e2e2e2;">
          <div class="mask d-flex mt-5 h-100">
            <div class="container border">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <h1 class="text-center mb-4 fs-3 fw-light" style="font-family: poppins;">Add New Student</h1>
    
                        <form id="form" class="form-group">
                            <input type="hidden" id="stuid" name="stuid">
                            <input type="text" name="name" id="name" class="form-control mb-2 border" placeholder="Full Name">
                            <input type="text" name="email" id="email" class="form-control mb-2 border" placeholder="Email">
                            <input type="text" name="major"  id="major"class="form-control mb-2 border" placeholder="Major">
                            <input type="submit" id="btnsave" class="btn w-100 btn-success" value="Enroll Student">
                        </form>
                        <!-- <hr> -->
                        <!-- <p id="error"><strong class="text-danger"></strong></p> -->
                    </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <h1 class="text-center mb-4 fs-3 fw-light" style="font-family: poppins;">All Students</h1>
                  <div class="card shadow-2-strong border" style="background-color: #ffffff;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                          <thead>
                            <tr>
                              
                              <th scope="col">S/N</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Major</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>

                          <tbody id="tbody">
                            
                            {% for s in student %}
                                
                            <tr>
                              
                              <td>{{forloop.counter}}</td>
                              <td>{{s.name|title}}</td>
                              <td>{{s.email}}</td>
                              <td>{{s.major}}</td>
                              <td>
                                  <input type="button" value="Edit" class="btn btn-primary btn-sm btn-edit px-3" data-sid="{{ s.id }}">
                                  <input type="button" value="X" class="btn btn-danger btn-sm btn-del px-3" data-sid="{{ s.id }}">
                                  
                                
                              </td>
                            </tr>
                            {% endfor %}
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"> </script>
      
      <script>
        $("#btnsave").click(function (e) {
            e.preventDefault()
            // console.log("Save Button Is Clicked1");

            output = ""
            let sid = $('#stuid').val();
            let name = $("#name").val()
            let email = $("#email").val()
            let major = $("#major").val()

            // console.log(name);
            // console.log(email);
            // console.log(major);

            if (name == ""){
                console.log("Enter Name!");
            } else if (email == ""){
                console.log("Enter Email!");
            } else if (major == "") {
                console.log("Enter Major!");
            } else {
                // console.log("Student Created");
                // console.log(name);
                // console.log(email);
                // console.log(major);

                mydata = {stuid:sid, name:name, email:email, major:major}

                $.ajax({
                    url: "{% url 'save-student' %}",
                    type: "POST",
                    data: mydata,
                    success: function(data){
                        console.log("Status:", data.status);

                        x = data.student_data
                        if(data.status == "Saved"){
                            console.log("Sending Data...");
                            for(i=0; i<x.length; i++){
                                output += "<tr><td>" + i +
                                    "</td><td>" + x[i].name +
                                    "</td><td>" + x[i].email +
                                    "</td><td>" + x[i].major +
                                    "</td><td> <input type='button' value='Edit' class='btn btn-primary btn-edit btn-sm px-3' data-sid= "+ x[i].id + "> <input type='button' value='X' class='btn btn-danger btn-sm btn-del px-3' data-sid= "+ x[i].id + "/>"
                            }
                            $("#tbody").html(output)
                            $("#form")[0].reset()
                        }

                    }
                })
            }
        })

        $("#tbody").on("click", ".btn-del", function(){
          console.log("Delete Button was clicked");
          let id = $(this).attr("data-sid")
          mydata = {sid:id}
          mythis = $(this)
          $.ajax({
            url: "{% url 'delete-student' %}",
            method: "POST",
            data: mydata,
            success: function(data){
              console.log(data)
              if(data.status == 1){
                console.log("Student Deleted.")
                $(mythis).closest("tr").fadeOut();
              }
              if(data.status == 0){
                log("Student Was Unable to be Delete")
              }
            }
          })
        })

        // Editing Student
        // $("#tbody").on("click", ".btn-edit", function(){
        //   console.log("Edit button is clicked!");
        //   let id = $(this).attr("data-sid")
        //   console.log("This is the ID:", id);
        //   mydata = {sid:id}

        //   $.ajax({
        //     url: "{% url 'edit-student' %}",
        //     method: "POST",
        //     data: mydata,

        //     success: function(data){
        //       $("#stuid").val(data.id)
        //       $("#name").val(data.name)
        //       $("#email").val(data.email)
        //       $("#major").val(data.major)
        //     },
            
        //   })
        // })
        
          
// Edit
$('#tbody').on("click", ".btn-edit", function(){
    console.log("Edit Button Cliked");
    let id = $(this).attr("data-sid");

    console.log(id);

    mydata = {sid:id}

    $.ajax({
        url: "{% url 'edit-student' %}",
        method:"POST",
        data:mydata,

        success: function(data){
            console.log(data);
            $("#stuid").val(data.id)
              $("#name").val(data.name)
              $("#email").val(data.email)
              $("#major").val(data.major)
            console.log(data.id);


        },
    })
})

      </script>
</body>
</html>